* {
  transition: background-color 0.2s linear;
}

a {
  text-decoration: none !important;
}

.full-vh {
  height: 100vh;
}

.app-dark {
  background-color: rgb(12, 17, 29) !important;
  color: #ddd
}

.invisible {
  visibility: hidden;
}

.mobile-nav {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 250ms ease-out;
}

.mobile-nav {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 250ms ease-out;
}

.mobile-nav.opened {
  background: rgba(0,0,0,0.7);
}

.mobile-nav ul {
  padding-top: 1rem;
  transition: all 250ms ease-out;
  transform: translateY(-100vh);
}

.mobile-nav.opened ul {
  transform: translateY(0);
}

.minimize-mobile-nav {
  display: flex;
  justify-content: center;
  padding: .5rem;
  margin-bottom: -.5rem;
}

.close {
  height: 24px;
  width: 100%;
}

.close:focus {
  outline: none;
}

.btn-link, .link, a, .nav-link {
  cursor: pointer;
}

.blog-card .card-text {
  max-height: 100px;
}

.blog-card .btn-link i, i{
  position: relative;
  top: 3px;
}

.blog-card-img {
  height: 400px;
  background-image: url(./Images/blogImage.jpg);
  background-size: 40em;
  background-position: top center;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
}

.blog-card .blog-card-img:hover {
  
  /* transition: background-size 0.2s linear; */
  background-size: 41em;
}

.article-header {
  padding-top: 120px;
}

.article-header .article-header-left {
  display: flex;
  justify-content: flex-end;
}

.article-header .article-header-left .article-header-info-area {
  width: 500px;
  min-height: 600px;
  position: relative;
  left: -30px;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .article-header .article-header-left .article-header-info-area {
    width: 410px
  }
}

@media (max-width: 992px) {
  .article-header .article-header-left .article-header-info-area {
    width: 310px;
  }
}

@media (max-width: 768px) {
  .article-header .article-header-left {
    justify-content: center;
    padding: 0;
    min-height: 300px;
    align-items: center;
  }

  .article-header .article-header-left .article-header-info-area {
    max-width: 500px;
    left: 0;
    flex: 1;
  }
}

.article-header-right {
  background-image: url(./Images/blogImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.article-header .article-title {
  margin-top: 200px;
}

.article-header .article-title span {
  display: block;
  margin-top: 0.2em;
}

.article-content {
  padding: 120px 0px;
  max-width: 600px;
}

.post-interactions i {
  position: relative;
  top: 10px;
}

.article-after .post-comment .comment-control {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.article-after .post-comment .comment-control .current-user-info {
  flex: 1;
}

.article-after .post-comment .comment-control .current-user-info i {
  position: relative;
  top: 8px;
}

.article-after .comment-section > p:first-child{
  color: #bbb
}

.article-after .comment-section .current-user-info i {
  position: relative;
  top: 8px;
}

.article-after .comment-section .comment-comment {
  padding-bottom: 30px;
}

.login {
  background-color: #ddd;
  height: 100vh;
}

.login .card {
  min-width: 400px;
}

.login .card .text-smaller {
  font-size: 80%;
}

.login .login-logo {
  width: 100px;
  margin: 0px auto;
}

.btn-group {
  margin-left: 10px;
  position: relative;
  bottom: -5px;
}

.sign-up form {
  max-width: 800px;
  margin: auto
}