.blog-card .card-text {
  max-height: 100px;
}

.blog-card .btn-link i, i{
  position: relative;
  top: 3px;
}

.blog-card-img {
  height: 400px;
  background-image: url(./Images/blogImage.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.article-header {
  margin-top: 120px;
}

.article-header .article-header-left {
  display: flex;
  justify-content: flex-end;
}

.article-header .article-header-left .article-header-info-area {
  width: 500px;
  min-height: 600px;
  position: relative;
  left: -30px;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .article-header .article-header-left .article-header-info-area {
    width: 410px
  }
}

@media (max-width: 992px) {
  .article-header .article-header-left .article-header-info-area {
    width: 310px;
  }
}

@media (max-width: 768px) {
  .article-header .article-header-left {
    justify-content: center;
    padding: 0;
    min-height: 300px;
    align-items: center;
  }

  .article-header .article-header-left .article-header-info-area {
    max-width: 500px;
    left: 0;
    flex: 1;
  }
}

.article-header-right {
  background-image: url(./Images/blogImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.article-header .article-title {
  margin-top: 200px;
}

.article-header .article-title span {
  display: block;
  margin-top: 0.2em;
}

.article-content {
  padding: 120px 0px;
  max-width: 600px;
}

.post-interactions i {
  position: relative;
  top: 10px;
}

.article-after .post-comment .comment-control {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.article-after .post-comment .comment-control .current-user-info {
  flex: 1;
}

.article-after .post-comment .comment-control .current-user-info i {
  position: relative;
  top: 8px;
}

.article-after .comment-section > p:first-child{
  color: #bbb
}

.article-after .comment-section .current-user-info i {
  position: relative;
  top: 8px;
}

.article-after .comment-section .comment-comment {
  padding-bottom: 30px;
}
